NODE_ENV = local
PORT = PORT
DB_NAME = name
DB_USER = user
DB_PASSWORD = password
DB_HOST = database_host
DB_PORT  =  database_port
SERVICE_ACCOUNT_FILE = google _ervice_acc_file_path
GOOGLE_SHEET_ID = GOOGLE_SHEET_ID  //id of the google sheets where the database is being replicated id can be found from url of the sheet
CLOUDINARY_API_KEY = api_key
CLOUDINARY_API_SECRET = api_secret
CLOUD_NAME = cloudinary_cloud_name